@page "/contact"
@rendermode InteractiveWebAssembly

<PageTitle>Contact</PageTitle>

<h1>コンタクト</h1>

<p>連絡先です. スパム扱いされると気が付かないかもしれません.</p>

<div class="contents">
	<a class="p-5" href="https://x.com/sugawa2018616">
		<img src="pub/logos/x.svg" width="32" height="32" />
	</a>
	<a class="p-5" href="https://github.com/sugawa197203">
		<img src="pub/logos/github.svg" width="32" height="32" />
	</a>
	<a class="p-5" href="https://atcoder.jp/users/sugawa197203">
		<img src="pub/logos/atcoder.png" width="32" height="32" />
	</a>
	<a class="p-5" href="mailto:ping@Sugawadev.dev">
		<img src="pub/logos/mail.svg" width="32" height="32" />
	</a>
</div>

@code {

}

