@page "/portfolio"
@rendermode InteractiveWebAssembly

<PageTitle>Portfolio</PageTitle>

<h1>ポートフォリオ</h1>

<p>たくさん書くことが多すぎて準備が間に合っていません.</p>

<p role="status">暇つぶしカウンター: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">クリック</button>

<p>これちゃんとWASMで動いてる？</p>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}

