@page "/portfolio"
@* @rendermode InteractiveWebAssembly *@

<PageTitle>Portfolio</PageTitle>

<h1>ポートフォリオ</h1>

<div class="sakuhin">
    <h2>過去に作ってきたものたち</h2>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalCenterTitle">モーダルのタイトル</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>ここはモーダルの中身</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                    <button type="button" class="btn btn-primary">詳しく見る</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
        <img src="./pub/logos/atcoder.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Atcoder</p>
        </div>
    </div>
</div>

@code {
}

