<div class="fixed-top p-3 nav_head d-flex flex-row mb-3">
	<a href="/">SUGAWA</a>
	<button type="button" class="fixed-top pull-right">
		<img src="/pub/ui/hambug.svg" />
	</button>
</div>

@code {

}
