.nav_wrapper {
/*	overflow-x: auto;*/
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 2;
	background-color: darkcyan;
}

.nav_head {
	display: none;
}

@media screen and (min-width: 500px) {

	.nav_head {
		font-size: 1.25em;
		padding: 16px;
		display: flex;
		justify-content: flex-end;
		min-width: 500px;
	}
}

.navbar_wrap{
	padding: 0px;
}

.min_nav_head {
	display: flex;
	justify-content: flex-end;
	padding: 16px;
}
@media screen and (min-width: 500px) {
	.min_nav_head {
		display: none;
	}
}

	.min_nav_head_l {
		padding-left: 6px;
	}

	.nav_content, nav_content:hover, nav_content:visited {
		top: 6px;
		color: inherit;
		padding: 2px 12px;
		margin: 3px;
		color: white;
		cursor: pointer;
		text-decoration: none;
		border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
	}

		.nav_content:hover {
			background-color: cadetblue;
		}

	.nav_content_l {
		border: none;
		position: fixed;
		top: 16px;
		left: 16px;
		background-color: transparent;
		font-size: 1.25em;
		margin-right: 16px;
		margin-left: 0px;
		margin-top: 0px;
		padding-top: 5px;
	}


	.hambuger {
		position: fixed;
		top: 6px;
		right: 0px;
		background-color: transparent;
		border: none;
	}

	.hidehambuger {
		display: none;
	}
