<div class="nav_head">
    <a class="nav_content nav_content_l" href="/">SUGAWA</a>
    <a class="nav_content" href="/">ホーム</a>
    <a class="nav_content" href="/portfolio">ポートフォリオ</a>
    <a class="nav_content" href="/contact">コンタクト</a>
</div>
